@model ImaginationStore.Domain.Entities.Cliente

@{
    ViewBag.Title = "Index";

}
<div class="p-3 bg-white">
        <!--CADASTRAR CLIENTE-->
        <fieldset>
            <legend>Informações Pessoais</legend>
            <table cellspacing="10">
                <tr>
                    <td>
                        <label for="codigo">Código: </label>
                    </td>
                        <td class="col-75" align="left">
                            @using (Html.BeginForm("Get", "Cliente", FormMethod.Post))
                            {
                                @Html.TextBoxFor(model => model.Codigo, "Codigos", new { maxlength = 5, type = "numeral", placeholder = "Seu código...", style = "border-color:blue" })
                                <button>Enviar</button>
                            }

                        </td>
                </tr>
                <tr>
                    <td>
                        <label for="nome">Nome: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("Nome", "", new { type = "text", placeholder = "Seu nome...", style = "border-color:black" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="telefone">Telefone: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("Telefone", "", new { maxlength = 15, type = "tel", placeholder = "ex.:(DDD) 1234-5678", pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}", style = "border-color:blue" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="filiacao">Filiação: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("Filiação", "", new { type = "text", placeholder = "Sua filiação...", style = "border-color:black" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="limiteCredito">Limite de Crédito: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("limiteCredito", "", new { type = "text", placeholder = "ex.:500.0", style = "border-color:blue" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="status">Status do Cliente: </label>
                    </td>
                    <td class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            <input type="radio" name="bom" id="1" autocomplete="off"> BOM
                        </label>
                        <label class="btn btn-outline-warning">
                            <input type="radio" name="medio" id="2" autocomplete="off"> MÉDIO
                        </label>
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="ruim" id="3" autocomplete="off"> RUIM
                        </label>
                    </td>
                    
                </tr>
            </table>
        </fieldset>
    <br />

        <!-- ENDEREÇO -->
        <fieldset>
            <legend>Endereço</legend>
            <table cellspacing="10">
                <tr>
                    <td>
                        <label for="cep">Cep: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("cep", "", new { type = "numeral", placeholder = "12345678", style = "border-color:black", maxlength = "8" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rua">Rua: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("rua", "", new { type = "text", style = "border-color:blue" })
                    </td>
                    <td>
                        <label for="numero">Número: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("numero", "", new { type = "numeral", placeholder = "12345", style = "border-color:blue", size = "4", maxlenght = "5" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="bairro">Bairro: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("bairro", "", new { type = "text", style = "border-color:black" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cidade">Cidade: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("cidade", "", new { type = "text", style = "border-color:blue" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="uf">UF: </label>
                    </td>
                    <td class="col-75" align="left">
                        @Html.TextBox("uf", "", new { type = "char(2)", style = "border-color:black", size = "1", maxlenght = "2" })
                        <br />
                    </td>
                </tr>
            </table>
        </fieldset>
        <br />
    <br />
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#uf").val("");
                $("#cidade").val("");
            }

            //Quando o campo cep perde o foco.
            $("#cep").blur(function () {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if (validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#uf").val("...");
                        $("#cidade").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#uf").val(dados.uf);
                                $("#cidade").val(dados.localidade);
                            } //end if.

                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.

                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.

                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });
    </script>
}

